<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.board.BoardMapper">
    <!-- 게시판 -->
    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO t_board(iuser, board_code, title, contents)
        VALUES(#{iuser}, #{boardCode}, #{title}, #{contents})
    </insert>

    <update id="updBoard">
        UPDATE t_board SET
        title = #{title},
        contents = #{contents}
        WHERE iboard = #{iboard}
    </update>

    <delete id="delBoard">
        DELETE FROM t_board
        WHERE iboard = #{iboard}
    </delete>

    <select id="getBoard">
        SELECT iboard, title, board_code boardCode, created_at createdAt
        FROM t_board
        WHERE board_code = #{boardCode}
        <if test="keyword != null">
            AND title LIKE '%${keyword}%'
        </if>
        ORDER BY iboard DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="selBoard">
        SELECT a.iboard, b.iuser, a.title, b.nm, a.contents, DATE_FORMAT(a.created_at, '%Y.%m.%d') createdAt
        FROM t_board a
        INNER JOIN t_user b
        ON a.iuser = b.iuser
        WHERE a.iboard = #{iboard}
    </select>

    <insert id="insBoardPics">
        INSERT INTO t_board_pics(iboard, board_pic) VALUES
        <foreach collection="picNames" item="picName" separator=",">
            (#{iboard}, #{picName})
        </foreach>
    </insert>

    <!-- 댓글 -->
    <select id="getComment">
        SELECT a.icomment, b.iuser, b.nm, a.COMMENT, DATE_FORMAT(a.created_at, '%Y.%m.%d') createdAt
        FROM t_board_comment a
        INNER JOIN t_user b
        ON a.iuser = b.iuser
        WHERE iboard = #{iboard}
        ORDER BY icomment DESC
    </select>

    <insert id="insComment">
        INSERT INTO t_board_comment(iboard, iuser, COMMENT)
        VALUES(#{iboard}, #{iuser}, #{comment})
    </insert>

    <delete id="delComment">
        DELETE FROM t_board_comment
        WHERE icomment = #{icomment}
    </delete>

    <update id="updComment">
        UPDATE t_board_comment SET
        comment = #{comment}
        WHERE icomment = #{icomment}
    </update>
</mapper>