<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
        SET uid = #{uid},
            upw = #{upw},
            nm = #{nm},
            phone_number = #{phoneNumber},
            email = #{email}
    </insert>

    <select id="selMyInfo">
        SELECT A.nm,
        COUNT(if( B.process_state = 1, B.process_state, null )) AS 'beforeDeposit',
        COUNT(if( B.process_state = 2, B.process_state, null )) AS 'preparation',
        COUNT(if( B.process_state = 3, B.process_state, null )) AS 'shipping',
        COUNT(if( B.process_state = 4, B.process_state, null )) AS 'completed'
        FROM t_user A
        LEFT JOIN t_order B
        ON A.iuser = B.iuser
        WHERE A.iuser = #{iuser}
    </select>
    
    <select id="selSignInInfoByUid">
        SELECT iuser, upw, nm
        FROM t_user
        WHERE uid = #{uid}
    </select>

    <select id="selUserInfoByIuser">
        SELECT upw, nm, phone_number, email
        FROM t_user
        WHERE iuser = #{iuser}
    </select>

    <select id="selClause">
        SELECT iclause, title, contents, required
        FROM t_signup_clause
        WHERE iclause IN (1, 2)
    </select>

    <update id="delUser">
        UPDATE t_user
        SET unregister_fl = 1
        WHERE iuser = #{iuser}
    </update>

    <update id="updUser">
        UPDATE t_user
        SET
        <if test="upw != null and upw != ''">
            upw = #{upw},
        </if>
            nm = #{nm},
            phone_number = #{phoneNumber},
            email = #{email}
        WHERE iuser = #{iuser}
    </update>
</mapper>